.featured::before {
    content: "";
    
    width:500px;
    height:500px;
    
    
}
.circle{
    animation: circleAnim 1s infinite alternate-reverse
}
@keyframes circleAnim {
    from{
        transform: translate(317px, 737px);
        z-index: 5;
    }
    to{
        transform: translate(317px, 769px);
        z-index: 5;
    }
}